.pagetitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button.btn.btn-info {
    color: #fff;
    font-weight: 700;
    background-color: #012970;
    border: navajowhite;
}